@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    @apply bg-light-bg text-light-text dark:bg-dark-bg dark:text-dark-text font-sans antialiased transition-colors duration-300;
  }

  /* Force dark scrolling bars */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-dark-border rounded-full hover:bg-slate-400 dark:hover:bg-gray-600;
  }
}

/* Glassmorphism Utilities */
@layer utilities {
  .glass-panel {
    @apply bg-dark-card/60 backdrop-blur-md border border-white/5;
  }
}